.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea,
.form select {
  padding: 30px;
  background-color: var(--bg);
  border-radius: 5px;
  color: var(--text);
  margin-bottom: 30px;
  border: 1px solid #2e374a;
}
.form input,
.form select {
  width: 45%;
}

.form textarea {
  width: 100%;
}

.form button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--text);
}
