.form {
  background-color: var(--bgSoft);
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 50px;
  border-radius: 10px;
  flex-direction: column;
  gap: 30px;
}

.form h1 {
  text-align: center;
}

.form input {
  background-color: var(--bg);
  padding: 30px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  color: var(--text);
}

.form button {
  width: 100%;
  color: var(--text);
  background-color: teal;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 30px;
}
